{% extends 'base.html.twig' %}

{% block title %}Welcome in Zefilmuneed{% endblock %}

{% block body %}
{%  include 'navbar.html.twig' %}
    <div class="container-fluid home">
        <h1 class="mx-auto align-self-center">“Zefilmuneed plus besoin du cinéma!”</h1>
    </div>
{% endblock %}
